# Q 1

In [20]:
my_name = "alex"

In [2]:
print(my_name)

alex

# Q 2

In [3]:
my_id = 773703

In [4]:
print(my_id)

773703

# Q 3

In [8]:
my_id_str = "773703"

In [9]:
print(my_id_str)

773703

# Q 4

In [7]:
my_name + my_id

TypeError: must be str, not int

cannot add my_name and my_id because you can only add multiple strings or multiple variables, but not one of each.

# Q 5

In [10]:
my_name + my_id_str

'alex773703'

you can add my_name and my_id_str because both are in string format

# Q 6

In [11]:
"hello, world. This is my first python string.".split(".")

['hello, world', ' This is my first python string', '']

In [13]:
print("hello, world. This is my first python string.".split("."))

['hello, world', ' This is my first python string', '']

# Q 7

In [21]:
str_list=['a','b','c','d','e']

In [38]:
str_list.sort()

In [39]:
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

it can, it sorts things alphabetically

# Q 8

In [23]:
str_list.append("f")

In [24]:
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Q 9

In [25]:
str_list.remove("d")
print(str_list)

['a', 'b', 'c', 'e', 'f']

# Q 10

In [26]:
print(str_list[2])

c

# Q 11

In [27]:
num_list = [12,32,43,35]

In [28]:
str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

yes, you can add two lists regardless if they contain strings and/or integers

# Q 12

In [30]:
my_dict = {'name':'alex','id': my_id}
print(my_dict)

{'name': 'alex', 'id': 773703}

# Q 13

In [32]:
my_dict['name']='branick'
print (my_dict)

{'name': 'branick', 'id': 773703}

# Q 14

In [33]:
print(my_dict.get('id'))

773703

# Q 15

In [34]:
my_dict['id']=746684
print(my_dict)

{'name': 'branick', 'id': 746684}

# Q 16

In [40]:
my_dict['num_list']=num_list
print (my_dict)

{'name': 'branick', 'id': 746684, 'num_list': [12, 32, 43, 35]}

it prints both my_dict and num_list in one dictionary

# Q 17

In [41]:
num_list.sort()

In [42]:
print(num_list)

[12, 32, 35, 43]

In [45]:
print(num_list[0])
print(num_list[3])

12
43